body {
    overflow-x: hidden!important;
    font-family: 'Varela Round', sans-serif;
}

.top {
    background-image: url(../images/top.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grad {
    background: linear-gradient(0deg, rgba(39, 90, 122, 0.8) 16.55%, rgba(196, 196, 196, 0.2) 99.9%);
}

.head {
    background: rgb(242, 244, 245);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 70px;
}

.nav-link {
    font-weight: 700;
}

.btnedt {
    background: rgb(43, 142, 179);
    border: none;
    height: 50px;
    margin-top: 10px;
}

.btnedt:hover {
    background: rgb(38, 127, 151);
}

input[type] {
    border: 1px light;
    background: rgb(242, 244, 245);
}

input:focus,
input[type]:focus,
.uneditable-input:focus {
    border-color: white;
    box-shadow: 0 1px 1px white;
    outline: 0 none;
}

input:hover,
input[type]:focus {
    border-color: rgb(66, 63, 63);
}

.heading {
    color: white;
    font-weight: 700;
    font-size: 35px;
    margin-top: 140px;
}

.tag {
    color: white;
    font-size: 35px;
}

.mid {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-view {
    background: rgb(211, 209, 209);
    padding: 50px 0px 50px 0px;
}

.card-bg {
    background-image: url(../images/top.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fa-check {
    color: purple;
}

.btn-color {
    background: purple;
}

.btn-color:hover {
    background: rgb(88, 5, 88);
}

.footer {
    padding: 50px;
}

a {
    color: rgb(66, 63, 63);
}

.fab {
    border-radius: 50%;
    background: rgb(49, 49, 49);
    font-size: 20px;
}

.t:hover {
    background: #38A1F3;
}

.y:hover {
    background: rgb(197, 35, 20);
}

.f:hover {
    background: #3b5998;
}

.l:hover {
    background: #0077B5;
}

.i:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    ;
}

.fa-twitter {
    padding: 10px;
    color: white;
}

.fa-youtube {
    padding: 10px;
    color: white;
}

.fa-facebook-f {
    padding: 10px;
    color: white;
}

.fa-linkedin {
    padding: 10px;
    color: white;
}

.fa-instagram {
    padding: 10px;
    color: white;
}